.blogPage {
    padding: 48px 0;
}
.blogPage_title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
}
.blog_item {
    display: flex;
    background-color: var(--white);
    height: auto;
    cursor: pointer;
}
.blog_list {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 48px;
}
.blog_item_left {
    width: 40%;
}
.blog_item_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog_item_right {
    width: 60%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
}
.blog_item_name {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 24px;
    line-height: 1.5;
}
.blog_item_desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    line-height: 1.5;
    font-weight: 500;
}
.blog_item_create {
    font-weight: bold;
}
.blogDetailCreateAt {
    color: var(--text-gray);
    text-align: center;
    font-size: 16px;
    margin: 14px 0 48px 0;
    font-weight: bold;
}
.blogDetailDesc {
    line-height: 1.5;
    margin-top: 24px;
    text-align: justify;
}

@media screen and (max-width: 767.98px) {
    .blogPage {
        padding: 24px 0;
    }
    .blogDetailCreateAt {
        margin-bottom: 24px;
        font-size: 14px;
    }
    .blogPage_title {
        font-size: 24px;
        line-height: 1.3;
    }
    .blog_list {
        margin-top: 24px;
        gap: 24px;
    }
    .blog_item {
        flex-direction: column;
    }
    .blog_item_left,
    .blog_item_right {
        width: 100%;
    }
    .blog_item_left img {
        aspect-ratio: 16/9;
    }
    .blog_item_right {
        padding: 14px;
        gap: 14px;
    }
    .blog_item_name {
        font-size: 18px;
        line-height: 1.3;
    }
}
