.loginWraper {
    width: 100%;
    display: flex;
    gap: 24px;
    margin-top: 66px;
    height: calc(100vh - 132px);
}
.loginLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    position: relative;
    width: 500px;
    height: 300px;
}

.loginRight {
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    /* margin: 0 auto; */
    /* padding-top: 48px; */
}
.loginForm {
    border-radius: 16px;
    /* border: 1px solid var(--primary-cl); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 48px;
    background-color: var(--white);
}
.loginTitle {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 14px;
}
.wrapInput {
    margin: 14px 0;
    width: 100%;
}
.input {
    width: 100%;
    outline: none;
    border: 0;
    padding: 20px 14px;
    border: 2px solid var(--primary-cl);
    border-radius: 8px;
}
.input:focus {
    /* border-color: var(--primary-cl); */
    box-shadow: 0 0 0 4px #ccc;
}
.formRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.formFogot a {
    color: var(--primary-cl);
    cursor: pointer;
}
.btnLogin {
    padding: 20px 14px;
    background-color: var(--primary-cl);
}
.textErr {
    font-size: 14px;
    color: var(--red);
    margin: 12px 0 0 16px;
}
.formCheckbox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.formRegisText {
    text-align: center;
}
.formRegisText a {
    color: var(--primary-cl);
    cursor: pointer;
    text-decoration: underline;
}
.wrapInput button {
    box-shadow: none;
    line-height: 1.5;
}
.verify {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap: 36px;
    flex-direction: column;
    justify-content: center;
}
.verifyImg img {
    margin: 0 auto;
}
.verifyTitle {
    font-size: 24px;
}
.verifyDesc p a {
    text-decoration: underline;
}
@media screen and (max-width: 1023.98px) {
    .loginLeft {
        display: none;
    }
}

@media screen and (max-width: 767.98px) {
    .loginRight {
        width: 100%;
    }
    .loginWraper {
        height: 100vh;
        margin-top: 0;
    }
    .textErr {
        font-size: 12px;
    }
    .input,
    .wrapInput button {
        padding: 14px 20px;
        text-transform: none;
    }
    .loginTitle {
        font-size: 24px;
    }
    .wrapInput button {
        font-family: "Helvetica", Courier, monospace !important;
        font-size: 14px;
    }
    .formCheckbox {
        gap: 6px;
    }
    .loginForm {
        width: 100%;
        padding: 24px;
    }
}
