.mainLayout {
    padding: 66px 0;
    min-height: calc(100vh - 66px);
}
@media screen and (max-width: 1023.98px) {
}
@media screen and (max-width: 767.98px) {
    .mainLayout {
        padding: 50px 0;
    }
}
